<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EXPOCOMA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <userSettings>
        <EXPOCOMA.Properties.Settings>
            <setting name="dblocal" serializeAs="String">
                <value>dbexpo</value>
            </setting>
            <setting name="sqlserServidor" serializeAs="String">
                <value />
            </setting>
            <setting name="sqlserUsuario" serializeAs="String">
                <value />
            </setting>
            <setting name="sqlserPass" serializeAs="String">
                <value />
            </setting>
            <setting name="sqlserDb" serializeAs="String">
                <value />
            </setting>
            <setting name="cerrarApp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sqlorigen" serializeAs="String">
                <value />
            </setting>
            <setting name="filaAltern" serializeAs="String">
                <value>204, 255, 204</value>
            </setting>
            <setting name="filaSeleccion" serializeAs="String">
                <value>128, 128, 255</value>
            </setting>
            <setting name="filaroja" serializeAs="String">
                <value>255, 70, 70</value>
            </setting>
        </EXPOCOMA.Properties.Settings>
    </userSettings>
</configuration>